<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Notes</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container">
		<h3>Login</h3>
        <br/><br/>

		<form class="form-inline" th:action="@{/login/}" th:object="${user}" method="post">
			<label>Username: </label>
			<input class="form-control" type="text" th:field="*{username}" />
            <br/><br/>
            <label>Password: </label>
            <input class="form-control" type="password" th:field="*{password}" />
            <br/><br/>
            <input class="btn btn-primary" type="submit" value="Submit" />
		</form>
        <br/><br/>
        <a href="http://localhost:8184/register" class="btn btn-default" >Register</a>

	</div>
</body>
</html>